@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: linear-gradient(#38383851, rgba(0, 0, 0, 0.281)) , url('https://images.pexels.com/photos/218863/pexels-photo-218863.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  height: 100vh;
  object-fit: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav a {
  font-weight: 500;
}

nav a:hover {
  border-bottom: 2px solid white;
  margin-bottom: -1px;
}

nav a:hover:nth-child(1), .github:hover {
  border-bottom: none;
  margin-bottom: 0px;
}

.hero {
  background: linear-gradient(#24242451, rgba(0, 0, 0, 0.281));
  -webkit-box-shadow: -26px 9px 30px -8px rgba(0,0,0,1);
  -moz-box-shadow: -26px 9px 30px -8px rgba(0,0,0,1);
  box-shadow: -26px 9px 30px -8px rgba(0,0,0,0.7);
}

.hero span, .story-heading, .project-heading {
  font-family: 'Satisfy', cursive;
  font-size: 3rem;
  text-shadow: 2px 2px #252525;
}

.hero p {
  width: 50%;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: 2px 2px #252525;
}

.heading-name {
  font-family: 'Satisfy', cursive;
  color: white;
  font-size: 4.5rem;
  text-shadow: 2px 2px #252525;
  margin-top: 6rem;
  margin-bottom: 1rem;
  width: 70%;
}

.heading-title {
  font-family: 'Anton', sans-serif;
  font-size: 5rem;
  text-shadow: 2px 2px #252525;
  margin-top: 5rem;
}

.story, .projects {
  background: linear-gradient(#0e0d0d51, rgba(0, 0, 0, 0.281)) , #050505;
  -webkit-box-shadow: -2px 5px 17px 3px rgba(0,0,0,0.84);
  -moz-box-shadow: -2px 5px 17px 3px rgba(0,0,0,0.84);
  box-shadow: -2px 5px 17px 3px rgba(0,0,0,0.84);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.story-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border: 1px solid #151515;
  background-color: #151515;
}

.story-container span {
  max-width: 500px;
  font-size: 1.5rem;
  text-align: justify;
  margin: 2rem;
}

.story-heading, .project-heading {
  text-align: center;
  font-size: 3.5rem;
}